<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="fb:app_id" content="769273166919346" />
    <meta
      name="csrf-token"
      content="tuoGXB1uhNTJhH6wtmuh0NUsnOcNLNKIGCOQtVK5"
    />
    <link rel="icon" href="https://itnavi.com.vn/favicon.ico?v=1685350043" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link
      rel="stylesheet"
      href="../assets/css/common.css"
    />
    <link
      rel="stylesheet"
	  href="../assets/css/page_home.css"
    />

    <title>FPT - Nền tảng kết nối việc làm IT hàng đầu Việt Nam</title>
    <meta
      name="description"
      content="999+ việc làm IT mới nhất và tốt nhất Việt Nam tại FPT được cập nhật liên tục. Tuyển dụng lập trình viên IT lương cao cùng đãi ngộ hấp dẫn."
    />
    <meta
      name="keywords"
      content="FPT Viec lam it Ha Noi, Viec làm it Ho Chi Minh, Viec lam it Da Nang, tuyen dung it"
    />
    <meta name="language" content="vi" />
    <meta
      property="og:title"
      content="FPT - Nền tảng kết nối việc làm IT hàng đầu Việt Nam"
    />
    <meta property="og:type" content="article" />
    <meta property="og:content" content="text" />
    <meta property="og:locale" content="vi" />
  </head>
  <body>
