<header class="header-area homepage-navbar-area">
    <div class="header-scroll">
      <div class="top-header">
        <div class="container container-xxl">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <ul class="header-left-content">
                <li>
                  <span>Hotline:</span
                  ><a href="tel:024-629-06-599"> 024 629 06 599 </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="header-right-content">
                <ul class="language">
                  <li class="language-btn">
                    <a href="https://itnavi.com.vn/language/en"
                      ><img src="../assets/images/my.png" alt="Flag"
                    /></a>
                  </li>
                </ul>
                <ul class="log-in">
                  <li>
                    <a
                      href=" https://itnavi.com.vn/employer-service "
                      style="text-transform: uppercase"
                      target="_blank"
                      ><strong
                        >Nhà tuyển dụng
                        <i
                          class="fas fa-briefcase"
                          style="position: unset"
                        ></i></strong
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-area">
        <div class="mobile-nav">
          <div class="container">
            <div class="mobile-menu">
              <div class="logo">
                <a href="javascript:void(0);"
                  ><img
                    src="https://itnavi.com.vn/img/logo/itnavi-logo.svg?v=1685350043"
                    alt="logo"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="desktop-nav">
          <div class="container container-xxl">
            <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" href="javascript:void(0);"
                ><img
                  src="https://itnavi.com.vn/img/logo/itnavi-logo.svg?v=1685350043"
                  alt="logo"
              /></a>
              <div class="collapse navbar-collapse mean-menu">
                <ul class="navbar-nav mr-auto pl-0 pl-lg-5">
                  <li class="nav-item">
                    <a href="/job" class="nav-link">
                      Tìm việc IT
                    </a>
                  </li>
              
                  <li class="nav-item">
                    <a href="/company" class="nav-link">
                      Công ty
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/mycv" class="nav-link">
                      MY CV
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/blog/" class="nav-link">
                      Blog
                    </a>
                  </li>
                </ul>
                <div class="others-option">
                  <a
                    href="/login"
                    class="default-btn employer-btn font-weight-bold"
                    ><i class="far fa-user"></i> Ứng viên
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="others-option-for-responsive">
          <div class="container container-xxl">
            <div class="dot-menu"><i class="fas fa-briefcase"></i></div>
            <div class="container container-xxl">
              <div class="option-inner">
                <div
                  class="others-option justify-content-center d-flex align-items-center"
                >
                  <div class="get-quote">
                    <a
                      href="/employer-service"
                      class="default-btn"
                    >
                      Nhà tuyển dụng
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form
      id="logout-candidate"
      action="/logout"
      method="post"
      class="d-none"
    >
      <input
        type="hidden"
        name="_token"
        value="tuoGXB1uhNTJhH6wtmuh0NUsnOcNLNKIGCOQtVK5"
      />
    </form>
  </header>